<section id="calendars" class="relative py-16 sm:py-24 overflow-hidden bg-gray-50">
    <div class="container mx-auto">
        <div class="relative px-4 max-w-5xl mx-auto">
            <div class="mb-18 md:mb-16" x-data="{timezone: '{{ default_timezone }}'}">
                <span class="inline-block mb-4 text-sm sm:text-base text-red-500 uppercase font-semibold tracking-[.2rem]">
                    Have something a bit lighter?
                </span>
                <h2 class="mb-6 text-3xl md:text-5xl lg:text-7xl text-gray-900 font-bold tracking-tight leading-snug md:leading-snug lg:leading-snug">
                    Let's customise!
                </h2>
                <p class="mb-8 text-lg md:text-xl text-gray-500 font-medium leading-loose md:leading-loose">
                    The 'Everything' calendar really is <i>everything</i>, which is awesome but can get a bit cluttered.
                    In order to get around this and give you some options to play with, there are multiple calendars to
                    choose from that only provide specific things from the 'Everything' calendar. Subscribe to just one,
                    or as many as you like, to only have the events that you care about.
                </p>
                <label class="block w-full mb-8 text-lg md:text-xl text-red-500 uppercase font-semibold tracking-[.1rem]">
                    Timezone
                    <select class="block sm:inline-block w-full max-w-fit ml-0 sm:ml-4 mt-2 sm:mt-0 px-3 py-2 text-gray-700 text-lg font-medium bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
                            x-model="timezone">
                        @loop{timezones}
                        <option value="{{ value }}">
                            {{ value }}
                        </option>
                        @endloop
                    </select>
                </label>
                <div class="inline-block min-w-full overflow-hidden rounded-lg shadow">
                    <table class="min-w-full">
                        <thead>
                        <tr>
                            <th class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200">
                                Events
                            </th>
                            <th class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200">
                                Calendar Subscription URL
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @loop{calendars}
                        <tr>
                            <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                {{ title }}
                            </td>
                            <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                <code class="block text-sm text-gray-700 bg-gray-200 font-medium rounded-md p-2 break-words">
                                    <a href="{{ url }}"
                                       class="hover:text-red-600"
                                       x-text="urls[timezone + '__{{ key }}']"
                                       x-bind:href="urls[timezone + '__{{ key }}']">
                                        {{ url }}</a>
                                </code>
                            </td>
                        </tr>
                        @endloop
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
