<section id="credit" class="relative py-16 sm:py-24 overflow-hidden">
    <div class="container mx-auto">
        <div class="relative px-4 max-w-5xl mx-auto">
            <div class="mb-18 md:mb-16">
                <span class="inline-block mb-4 text-sm sm:text-base text-red-500 uppercase font-semibold tracking-[.2rem]">
                    Who should I thank?
                </span>
                <h2 class="mb-6 text-3xl md:text-5xl lg:text-7xl text-gray-900 font-bold tracking-tight leading-snug md:leading-snug lg:leading-snug">
                    These wonderful people!
                </h2>
                <p class="mb-4 text-lg md:text-xl text-gray-500 font-medium leading-loose md:leading-loose">
                    All events are sourced from
                    <a href="https://leekduck.com/events/" target="_blank" rel="noopener noreferrer"
                       class="text-red-600 hover:text-red-400">
                        Leek Duck
                    </a>
                    via
                    <a href="https://github.com/bigfoott/ScrapedDuck" target="_blank" rel="noopener noreferrer"
                       class="text-red-600 hover:text-red-400">
                        bigfoott/ScrapedDuck,
                    </a>
                    using the
                    <a href="https://github.com/bigfoott/ScrapedDuck/wiki/Events" target="_blank"
                       rel="noopener noreferrer" class="text-red-600 hover:text-red-400">
                        events JSON resource.
                    </a>
                </p>

                <p class="mb-4 text-lg md:text-xl text-gray-500 font-medium leading-loose md:leading-loose">
                    This project just aims to take all that brilliant hard work and dedication from the Leek Duck team
                    and bigfoott, that is presented oh-so nicely on the Leek Duck website and curated into a nice
                    'API'-esq resource in GitHub, and create a highly convenient and easily consumable nightly
                    auto-updating iCal calendar for use in any modern calendar client.
                </p>

                <p class="text-lg md:text-xl text-gray-500 font-medium leading-loose md:leading-loose">
                    Ta-da! 'cause managing a calendar manually sucks.
                </p>
            </div>
        </div>
    </div>
</section>
