<section id="landing" class="relative pt-12 lg:pt-16 pb-16 lg:pb-24 overflow-hidden bg-gray-50">
    <div class="container mx-auto">
        <div class="relative px-4 mx-auto max-w-5xl">
            <div class="mb-8 md:mb-12 mx-auto text-left">
                <h1 class="mb-6 text-3xl md:text-5xl lg:text-7xl text-gray-900 font-bold tracking-tight leading-snug md:leading-snug lg:leading-snug">
                    Pokémon GO events, in your calendar, local time. Easy.
                </h1>
                <p class="mb-8 text-lg md:text-xl text-gray-500 font-medium leading-loose md:leading-loose">
                    Whether it's on your phone (iOS or Android), on your computer (Linux, macOS or Windows) or anything
                    else, its quick and easy to subscribe to.
                    <a href="#legal" class="text-red-600 hover:text-red-400">
                        Unofficial, of course.
                    </a>
                    Powered by the brilliant
                    <a href="https://leekduck.com/events/" target="_blank" rel="noopener noreferrer"
                       class="text-red-600 hover:text-red-400">
                        Leek Duck.
                    </a>
                    Source on
                    <a href="https://github.com/othyn/go-calendar" target="_blank" rel="noopener noreferrer"
                       class="text-red-600 hover:text-red-400">
                        GitHub.
                    </a>
                </p>
                <div class="block mb-8 w-100 grid grid-cols-5 items-center">
                    <a class="col-span-5 md:col-span-2 inline-block text-center uppercase tracking-wide md:text-lg lg:text-xl space-x-4 py-4 lg:py-6 mb-8 md:mb-0 leading-7 text-red-50 bg-red-600 font-medium border border-transparent rounded-lg shadow-lg hover:bg-red-500 focus:ring-2 focus:ring-red-500 focus:ring-opacity-50"
                       href="{{ default_calendar_url }}">
                        <img class="h-8 inline" src="{{ logo_url }}" alt="logo">
                        <span>Get the Calendar</span>
                    </a>
                    <p class="col-span-5 md:col-span-3 inline-block text-gray-500 font-medium ml-0 md:ml-8"
                       href="#specific-calendars">
                        Don't want all events?
                        <a class="text-red-600 hover:text-red-400" href="#calendars">
                            Got you covered.
                        </a>
                    </p>
                </div>
                <p class="text-gray-400">
                    <a href="https://xkcd.com/927/" target="_blank" rel="noopener noreferrer"
                       class="text-red-400 hover:text-red-600">
                        Sometimes this doesn't work,
                    </a>
                    have a cheeky swipe down for more
                    <a href="#how-to" class="text-red-400 hover:text-red-600">
                        detailed instructions.
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
