<section id="legal" class="relative py-16 sm:py-24 overflow-hidden bg-gray-50">
    <div class="container mx-auto">
        <div class="relative px-4 max-w-5xl mx-auto">
            <div class="mb-18 md:mb-16">
                <span class="inline-block mb-4 text-sm sm:text-base text-red-500 uppercase font-semibold tracking-[.2rem]">
                    What about the boring stuff?
                </span>
                <h2 class="mb-6 text-3xl md:text-5xl lg:text-7xl text-gray-900 font-bold tracking-tight leading-snug md:leading-snug lg:leading-snug">
                    Ah, legal.
                </h2>
                <p class="mb-4 text-lg md:text-xl text-gray-500 font-medium leading-loose md:leading-loose">
                    All rights reserved by their respective owners.
                </p>
                <p class="mb-4 text-lg md:text-xl text-gray-500 font-medium leading-loose md:leading-loose">
                    This project is not officially affiliated with Pokémon GO and is intended to fall under Fair Use
                    doctrine, similar to any other informational site such as a wiki.
                </p>
                <p class="mb-4 text-lg md:text-xl text-gray-500 font-medium leading-loose md:leading-loose">
                    Pokémon and its trademarks are ©1995-2022 Nintendo, Creatures, and GAMEFREAK.
                </p>
                <p class="text-lg md:text-xl text-gray-500 font-medium leading-loose md:leading-loose">
                    All images and names owned and trademarked by Nintendo, Niantic, The Pokémon Company, and GAMEFREAK
                    are property of their respective owners.
                </p>
            </div>
        </div>
    </div>
</section>
